<footer class="footer">
    <div class="footer-content">
        <div class="touristic-journey">
            <p>Your touristic journey starts with us.<br />
                Join us for a planned fun time in Egypt!</p>
            <div class="social-icons">
                <a href="#" target="_blank"><img src="../../assets/icons/whatsup.png" alt="WhatsApp"></a>
                <a href="#" target="_blank"><img src="../../assets/icons/icon-youtube.svg" alt="YouTube"></a>
                <a href="#" target="_blank"><img src="../../assets/icons/icon-instagram.svg" alt="Instagram"></a>
                <a href="#" target="_blank"><img src="../../assets/icons/icon-facebook.svg" alt="Facebook"></a>
            </div>
        </div>
        <div class="footer-links">
            <div class="support">
                <h3>Support</h3>
                <a href="support">Support Center</a>
                <a href="terms">Terms of Service</a>
                <a href="privacypolices">Privacy Policy</a>
            </div>
            <div class="company">
                <h3>Company</h3>
                <a href="aboutus">About us</a>
                <a href="contactus">Contact us</a>
                <a href="partners">Partners</a>
                <a href="testimonials">Testimonials</a>
                <a href="faq">FAQ</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <img src="../../assets/Logo.svg" alt="Go To Egypt">
        <p>Designed by Abdullah Alaa [Abdopamined] 2024. All rights reserved.</p>
    </div>
</footer>