<!-- paginated-list.component.html -->
<div>
    <ul class="paginated-list" [ngClass]="{'one-column': isOneColumn}">
        <li *ngFor="let item of paginatedItems">
            <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: item }"></ng-container>
        </li>
    </ul>

    <div class="pagination">
        <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>

        <ng-container *ngFor="let page of pageNumbers">
            <button (click)="setPage(page)" [class.active]="page === currentPage" [disabled]="page === currentPage">
                {{ page }}
            </button>
        </ng-container>

        <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
    </div>
</div>