/* paginated-list.component.css */
/* .pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.pagination button.active {
  font-weight: bold;
  background-color: #007bff;
  color: white;
} */

/* paginated-list.component.css */
.paginated-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  width: 100%;
}

.paginated-list.one-column {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  list-style: none;
  width: 100%;
}

.paginated-list li {
  display: block;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:disabled {
  background-color: #ccc;
}

.pagination button.active {
  background-color: #0056b3;
}


@media (max-width:768px){
  .paginated-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
    width: 100%;
  }
}