<section class="events">
    <h1>Recent Events</h1>
    <div class="event-list">
        <div class="event-card" *ngFor="let event of events">
            <div class="img">
                <img src={{event.img1}} alt="Event Img">
            </div>
            <div class="details">
                <h3>{{event.title}}</h3>
                <p>{{event.description}}</p>
                <button [routerLink]="['/eventdetails',event.eventId]">Learn More</button>
            </div>

        </div>

    </div>
</section>