<div class="parent-container">
    <app-header></app-header>
    <div>
        <div class="hero">
            <p>
                We're here to help! If you have any questions, need assistance with planning your trip, or just want to
                say hello, feel free to reach out to us. We'd love to hear from you!
            </p>
        </div>
        <div class="contact-section">
            <h2>
                CONTACT US
            </h2>
            <div class="contact-form">
                <input placeholder="username" type="text" />
                <input placeholder="email" type="email" />
                <textarea placeholder="messages" rows="5"></textarea>
                <button>
                    SEND
                </button>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>