.tours {
    padding: 40px;
    background-color: #f3dbc0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px,1fr);
    gap: 20px;
  }
  
  .tours h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    font-family: var(--kFont-Bebas);
  }
  
  
  .tour-list {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .tour-card {
    background-color: #DDA86F;
    padding: 20px;
    border-radius: 8px;
    width: 48%;
    margin-bottom: 50px;
    height: 500px;
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;
  }
  .tour-card h3 {
    font-size: 32px;
    color: white;
    font-family: var(--kFont-Bebas);
    text-align: left;
    margin: 10px 0;
  }
  
  .tour-card p {
    font-family: var(--kFont-Jos);
    margin-bottom: 20px;
    text-align: left;
    color: rgb(255, 255, 255);
  }
  
  .tour-card button {
    background-color: #0f4a8e;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
  }
  .tour-card button:hover{
    /* transform: scale(1.01); */
    background-color: #0d57aa;
  }
  .tour-card:hover {
    transform: scale(1.05);
  }
  .images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    height: 70%;
    width: 100%;
    justify-content: space-between;
  }
  .images img{
    background-color: white;
    border-radius: 10px;
  }
  .main-img{
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
  }
  .sub-image {
    grid-column: 2/3;
  }
  @media (max-width: 991px){
    .tours {
      padding: 40px;
      background-color: #f3dbc0;
      display: grid;
      grid-template-columns: repeat(auto-fill, 50px,1fr);
  
    }
  }
  
  @media (max-width: 768px) {
    .tours {
      padding: 10px;
    }
    .tour-card {
      width: 90%;
    }
  
    .tours h2 {
      font-size: 28px;
    }
  
    .tour-card h3 {
      font-size: 20px;
    }
  
    .tour-card p {
      font-size: 14px;
    }
  
    .tour-card button {
      padding: 8px 12px;
    }
  }
  
  
  @media (max-width: 480px) {
    .tour-card {
      width: 90%;
    }
  
    .tour-list {
      flex-direction: column;
      align-items: center; 
    }
  }
  