<section class="tours">
    <h1>Tours</h1>
    <div><app-brand></app-brand></div>

    <div class="tour-list">
        <div class="tour-card" *ngFor="let tour of tours">
            <div class="images">
                <img src={{tour.img1}} alt="" class="main-img">
                <img src={{tour.img2}} alt="" class="sub-image">
                <img src={{tour.img3}} alt="" class="sub-image">
            </div>
            <h3>{{tour.title}}</h3>
            <p>{{tour.description}}</p>
            <button [routerLink]="['/toursdetails',tour.eventId]">Learn More</button>
        </div>
    </div>
</section>