.partner-section {
    background-color: #f4a261;
    padding: 50px 20%;
    text-align: left;
}
.partner-section h2 {
    margin: 0;
    font-size: 32px;
    color: #fff;
    font-family: var(--kFont-Bebas);
}
.partner-section p {
    color: #fff;
}
.partner-section button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
.partners {
    background-color: #fff;
    padding: 40px 10%;
    text-align: left;
}
.partners h2 {
    font-size: 32px;
    margin-bottom: 20px;
    font-family: var(--kFont-Bebas);
}
.partners p {
    font-size: 16px;
    margin-bottom: 40px;
}
.partner-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.partner-logos div {
    width: 100px;
    height: 100px;
    background-color: #e0e0e0;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 10px;
}
.second-section {
    background-color: var(--primary-light);
    padding: 30px 0;
}
.join-section {
    padding: 40px 5%;
    display: flex;
    justify-content: space-between;
    font-family: var(--kFont-Jos);
}
.join-section div {
    width: 48%;
}
.first-p {
    padding: 40px 20px;
}
.second-p {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 20px;
}
.join-section p {
    font-size: 16px;
}
.join-section ul {
    list-style: none;
    padding: 0;
}
.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
}
.form-section form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    background-color: black;
    padding: 40px 20px;
    border-radius: 10px;
}
.form-section form input {
    width: 46%;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.form-section form input[type='email'] {
    border-radius: 10px;
    background-color: aliceblue;
}
.form-section form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    height: 100px;
    max-height: 250px;
    border-radius: 10px;
}
.form-section form button {
    width: 20%;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: auto;
}

@media (max-width:769px){
    .form-section form {
        width: 90%;
    }
    .form-section form input {
        width: 100%;
    }
    .join-section {
        flex-direction: column;
    }
    .first-p {
        width: 100%;
    }
    .second-p {
        width: 100%;
    }
    .join-section div {
        width: 100%;
    }
}